/* Fonts */

/* Muller Light */
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 300;
  src: local('Muller Light'), local('Muller-Light'),
       url('/assets/fonts/MullerLight.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/MullerLight.woff') format('woff'); /* Modern Browsers */
}

/* Muller Regular */
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: local('Muller Regular'), local('Muller-Regular'),
       url('/assets/fonts/MullerRegular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/MullerRegular.woff') format('woff'); /* Modern Browsers */
}

/* Muller Medium */
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  src: local('Muller Medium'), local('Muller-Medium'),
       url('/assets/fonts/MullerMedium.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/MullerMedium.woff') format('woff'); /* Modern Browsers */
}

/* Muller Bold */
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  src: local('Muller Bold'), local('Muller-Bold'),
       url('/assets/fonts/MullerBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/MullerBold.woff') format('woff'); /* Modern Browsers */
}

/* Common styles */

* {
  box-sizing: border-box;
}

html {
  font-family: 'Muller', sans-serif;
}

body {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #f1f1f1;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 70px;
}

.section-heading {
  margin-top: 0;
  margin-bottom: 25px;
  padding-left: 45px;
  font-size: 40px;
  line-height: 32px;
  font-weight: 400;
  color: #333333;
}

.no-margin-heading {
  margin: 0;
}

.item-desc {
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.golden-text {
  color: #cc9933;
}

.golden-fill-btn {
  padding: 25px 30px;
  border: 0;
  border-radius: 12px;
  outline: none;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  background-color: #cc9933;
  cursor: pointer;
}

.golden-border-btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 20px;
  border: 1px solid #cc9933;
  border-radius: 12px;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  color: #cc9933;
}

.input {
  margin-bottom: 24px;
  padding: 0px 20px;
  border: 0;
  border-radius: 12px;
  outline: none;
  width: 515px;
  height: 70px;
}

/* Header */

.logo-block {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 0;
}

.phone {
  margin-left: 30px;
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
  color: #666666;
  transform: translateY(3px);
}

.login {
  margin-left: auto;
  padding-right: 10px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  transform: translateY(1px);
}

.nav-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 12px;
  background-color: #fff;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 45px;
}

.nav-link {
  font-size: 16px;
  line-height: 1;
  color: #333333;
}

.search {
  padding-left: 20px;
  padding-right: 45px;
  border: 0;
  border-radius: 15px;
  outline: none;
  width: 355px;
  height: 50px;
  font-size: 14px;
  line-height: 1;
  background: #f1f1f1 url(/assets/img/search.svg) no-repeat;
  background-size: 22px;
  background-position: 310px center;
}

.search::placeholder {
  color: #bebebe;
  font-size: 14px;
}

/* Section Hero */

.section-hero {
  padding-top: 70px;
}

.hero-container {
  display: flex;
}

.booking-block {
  max-width: 515px;
  margin-right: 55px;
}

.search::placeholder {
  color: #999999;
  font-size: 16px;
}

.search-number {
  display: flex;
  align-items: center;
}

.booking-offers {
  margin-left: 30px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  color: #999999;
}

.special-offer-banner {
  position: relative;
}

.special-offer-text {
  position: absolute;
  left: 45px;
  bottom: 45px;
  max-width: 330px;
}

.special-offer-title {
  display: inline-block;
  margin-bottom: 40px;
  font-size: 66px;
  line-height: 58px;
  color: #fff;
}

.special-offer-more-block {
  display: flex;
  align-items: flex-end;
}

.special-offer-price {
  font-size: 35px;
  line-height: 1;
  color: #fff;
  opacity: .49;
}

.special-offer-more {
  margin-left: 40px;
  font-size: 16px;
  line-height: 32px;
  color: #ffcc66;
}

.special-offer-arrow-icon {
  display: inline-block;
  margin-left: 3px;
  width: 10px;
  height: 15px;
  background-image: url(/assets/img/arrow-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(3px);
}

/* Section About */

.about-text {
  padding-left: 45px;
  max-width: 920px;
  font-size: 16px;
  line-height: 32px;
  color: #666666;
}

/* Section Services */

.services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-item {
  margin-top: 25px;
  width: 572px;
  border-radius: 12px;
  background-color: #fff;
}

.services-item-text {
  padding: 35px 0px;
  padding-left: 45px;
  max-width: 465px;
}

.services-item-title {
  margin: 0;
  margin-bottom: 10px;
}

.services-item-link {
  font-size: 22px;
  line-height: 1;
  font-weight: 500;
  color: #cc9933;
}

.services-arrow-icon {
  display: inline-block;
  margin-left: 6px;
  width: 10px;
  height: 15px;
  background-image: url(/assets/img/arrow-2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(2px);
}

/* Section Advantages */

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-item {
  margin-top: 25px;
  padding: 40px;
  border-radius: 12px;
  width: 275px;
  height: 275px;
  background-color: #fff;
}

.advantages-icon {
  display: inline-block;
  margin-bottom: 10px;
  width: 60px;
  height: 60px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.icon-bathhub {
  width: 63px;
  background-image: url(/assets/img/bathtub.svg);
  background-position: 0 -2px;
}

.icon-hanger {
  background-image: url(/assets/img/hanger.svg);
}

.icon-heating {
  width: 69px;
  background-image: url(/assets/img/heating.svg);
  background-position: 0 -5px;
}

.icon-hotel-key {
  width: 64px;
  background-image: url(/assets/img/hotel-key.svg);
  background-position: 0 -2px;
}

.icon-parking {
  width: 61px;
  background-image: url(/assets/img/parking.svg);
}

.icon-reception {
  width: 64px;
  background-image: url(/assets/img/reception.svg);
  background-position: 0 -2px;
}

.icon-security-box {
  width: 68px;
  background-image: url(/assets/img/security-box.svg);
  background-position: 0 -4px;
}

.icon-swimming-pool {
  background-image: url(/assets/img/swimming-pool.svg);
}

/* Section Places */

.places-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.places-item {
  margin-top: 25px;
  border-radius: 12px;
  width: 373px;
  background-color: #fff;
}

.places-item-text-block {
  position: relative;
  padding: 35px 45px 40px;
}

.places-rating {
  position: absolute;
  top: 35px;
  right: 45px;
}

.places-item-text {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #333333;
}

.price-text {
  margin-bottom: 15px;
}

.price-text-span{
  color: #969696;
}

.price-text-strong {
  font-size: 22px;
  font-weight: 700;
}

.place-name {
  margin-bottom: 15px;
}

.place-location {
  color: #999999;
}

.places-more-banner {
  position: relative;
  overflow: hidden;
}

.places-more-img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.places-more-text {
  position: absolute;
  bottom: 55px;
  left: 40px;
  font-size: 22px;
  line-height: 1;
  font-weight: 500;
  color: #fff;
}

.places-arrow-icon {
  display: inline-block;
  margin-left: 8px;
  width: 10px;
  height: 15px;
  background-image: url(/assets/img/arrow-3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(2px);
}

/* Section Contacts */

.contacts-container {
  display: flex;
}

.contacts-info-block {
  padding: 45px;
  max-width: 470px;
  height: 100%;
  border-radius: 12px;
  background-color: #fff;
}

.contacts-item {
  display: flex;
  padding-bottom: 25px;
  border-bottom: 1px solid #cccccc;
}

.contacts-item:not(:first-child) {
  padding-top: 25px;
}

.contacts-item-heading {
  flex: 0 0 145px;
  margin: 0;
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  color: #666666;
}

.contacts-item-text {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.contacts-item-mail {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.contacts-info-btn {
  margin-top: 45px;
  padding: 25px;
}

.contacts-form-block {
  margin: 0 auto ;
  padding-top: 75px;
}

.contacts-form-heading {
  margin-bottom: 45px;
  padding: 0;
  text-align: center;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  width: 340px;
}

.contacts-form-input {
  width: 100%;
}

.contacts-form-textarea {
  padding-top: 20px;
  max-width: 100%;
  height: 110px;
  resize: none;
}

/* Footer */

.footer {
  margin-top: 25px;
}

.footer-container {
  display: flex;
  padding: 50px;
  max-width: 1170px;
  border-radius: 12px;
  background: #333333 url(/assets/img/sun.png) 80% bottom no-repeat;
}

.footer-info-container {
  max-width: 310px;
}

.footer-info-text {
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.footer-contacts-container {
  margin-left: 110px;
}

.footer-contacts-text {
  margin-bottom: 35px;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.footer-contacts-link-block {
  margin-bottom: 30px;
}

.footer-contacts-link {
  font-size: 16px;
  line-height: 24px;
}

.footer-social-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.footer-social-link {
  font-size: 0;
}

.footer-social-link:not(:last-child) {
  margin-bottom: 20px;
}

.footer-social-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center center;
}

.trip-icon {
  background-image: url(/assets/img/tripadvisor.png);
}

.twitter-icon {
  background-image: url(/assets/img/twitter.png);
}

.facebook-icon {
  background-image: url(/assets/img/facebook.png);
}

.vk-icon {
  background-image: url(/assets/img/vk.png);
}

.google-icon {
  background-image: url(/assets/img/google.png);
}